/** Common CSS
 * Web to Plex+
 */

.web-to-plex-notification {
	cursor: pointer;
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #21262e;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	z-index: 999000;
    font-family: arial, verdana, sans-serif;
}

.web-to-plex-warning {
	background: #fd6a00;
}
