.web-to-plex-wrapper, .web-to-plex-wrapper > *, .web-to-plex-button {
	color: #fff!important;
    transition: background 0.2s;
}

.web-to-plex-button.roundButton {
    font-weight: normal;
	margin-top: -26px;
    margin-left: 10px;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 1000px;
	text-decoration: none!important;
}

.web-to-plex-button--downloader, .web-to-plex-wrapper {
	background-color: #f45a26!important;
}

.web-to-plex-wrapper:hover, .web-to-plex-wrapper:hover > *, .web-to-plex-button--downloader:hover {
	background-color: #f67e56!important;
    color: #ffffff!important;
}

.web-to-plex-wrapper--found, .web-to-plex-button--found {
	background-color: #e5a00d!important;
	color: #ffffff!important;
}

.web-to-plex-wrapper--found:hover, .web-to-plex-wrapper--found:hover > *, .web-to-plex-button--found:hover {
	background-color: #f9be03!important;
}

#tt--0-0 {
	background: #666!important;
}

#tt--0-0:hover {
    background: #888!important;
}

.web-to-plex-notification {
	cursor: pointer;
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #21262e;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	z-index: 999000;
}

.web-to-plex-warning {
	background: #fd6a00;
}
