.btn-w2p {
    background-color: #f45a26!important;
    border-color: #f45a26!important;
    color: #fff!important;
}

.btn-w2p:hover {
    background-color: #d43a06!important;
}

#tt--0-0 {
	color: #666!important;
    text-decoration: line-through!important;
}

#tt--0-0:hover {
	color: #888!important;
}
