.web-to-plex-container {
    border-color: #f45a26!important;
    color: #f45a26!important;
    margin-top: 1%;
}

.web-to-plex-button.tv {
	background: linear-gradient(0deg, #929292, #727272, #929292);
	color: #fff!important;
    margin: 12px 0;
    display: block!important;
    padding: 0 12px;
    text-decoration: none!important;
    outline: 0;
    cursor: pointer;
    width: max-content;
    height: 16px;
    margin: 12px 0;
    border: 1px solid transparent;
    border-radius: 1000px;
    box-shadow: 0 3px 3px #222;
}

.web-to-plex-button.movie {
    border-color: #f45a26!important;
    color: #f45a26!important;
}

.web-to-plex-button--downloader.tv {
	background: linear-gradient(0deg, #f67e56, #f45a26, #f67e56);
}

.web-to-plex-button--found.tv {
	background: linear-gradient(0deg, #f9be03, #e5a00d, #f9be03);
}

.list_item .web-to-plex-button.tv {
	font-size: 10px;
	padding: 4px 6px;
	margin-top: 0;
}

#tt--0-0 {
	background: #666!important;
}

#tt--0-0:hover {
    background: #888!important;
}
