.web-to-plex-wrapper {
    transition: all 0.2s!important;
}

.web-to-plex-wrapper > .web-to-plex-button {
    background: rgba(0,0,0,0)!important;
}

.web-to-plex-wrapper, .web-to-plex-button {
	color: #ffffff!important;
}

.web-to-plex-wrapper, *:not(.web-to-plex-wrapper) > .web-to-plex-button--downloader {
    background: #f45a26!important;
}

.web-to-plex-wrapper--found {
	background-color: #e5a00d!important;
}

.web-to-plex-wrapper:hover, *:not(.web-to-plex-wrapper) > .web-to-plex-button--downloader:hover {
	background-color: #f67e56!important;
}

.web-to-plex-wrapper--found:hover, *:not(.web-to-plex-wrapper--found) > .web-to-plex-button--found:hover {
	background-color: #f8c022!important;
}

.w2p-w {
    display: inline-block;
    margin: 8px 0 0 4px;
}

.w2p-b {
    line-height: 36px;
    border-radius: 4px;
    border: 1px;
    font-size: 14px;
    height: 36px;
    padding: 0 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    min-width: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: no-wrap;
    vertical-align: middle;
}

.w2p-b:hover {
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}

.w2p-b:empty {
    display: none!important;
}

#tt--0-0 {
	background: #666!important;
}

#tt--0-0:hover {
    background: #888!important;
}

.web-to-plex-notification {
	cursor: pointer;
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #e5a00d;
	color: #fff;
	font-size: 13px;
	padding: 10px;
	border-radius: 4px;
	z-index: 999000;
	font-family: Verdana, Arial, sans-serif;
}

.web-to-plex-warning {
	background: #fd6a00;
}
