.i-plex-movieo-icon {
	margin-top: -10px;
	margin-left: 8px;
	width: 33px;
	height: 33px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/plex.svg');
	background-size: 33px 33px;
	opacity: .2;
}

.i-plex-movieo-icon.plex-found {
	opacity: .7;
}

.i-plex-movieo-icon:hover {
	opacity: .9;
}

.movieo-to-plex-notification {
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #21262e;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	z-index: 1000;
}

.movieo-to-plex-warning {
	background: #fd6a00;
}
