.mid-top-actions .share-box {
	padding-left: 20px!important;
}

.web-to-plex-button {
	margin-right: 8px;
	color: #566273!important;
}

.web-to-plex-button--downloader {
	border-color: #f45a26!important;
	color: #acb4bf!important;
}

.web-to-plex-button--downloader:hover {
	border-color: #f67e56!important;
}

.web-to-plex-button--found {
	border-color: #ca7c1f!important;
	color: #acb4bf!important;
}

.web-to-plex-button--found:hover {
	border-color: #f8c022!important;
}

.web-to-plex-notification {
	cursor: pointer;
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #21262e;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	z-index: 999000;
}

.web-to-plex-warning {
	background: #fd6a00;
}
