.web-to-plex-button--downloader {
	border-color: #f45a26!important;
	background: #f45a26!important;
	color: #fff!important;
}

.web-to-plex-button--downloader:hover {
	background: #f67e56!important;
}

.web-to-plex-button--found {
	background: #e5a00d!important;
	border-color: #e5a00d!important;
	color: #fff!important;
}

.web-to-plex-button--found:hover {
	background: #f9be03!important;
}

.web-to-plex-notification {
	cursor: pointer;
	display: block;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	background: #21262e;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	z-index: 999000;
}

.web-to-plex-warning {
	background: #fd6a00;
}
